
* {
  margin: 0;
}

body { 
   display: flex; 
   justify-content: center; 
   box-sizing: border-box;
  /* margin: 0 auto; */
  background-color: #FAFAFA;
}

.wraper {
  max-width: 1440px;
  /* display: flex;
  flex-direction: column; */
  
  /* background-color: #fff; */
}

.container {
  /* display: flex; */
  max-width: 640px;
  box-sizing: border-box;
  /* justify-content: center; */
  background-color: #fff;
  margin: 15px 400px;
  /* margin: 0px 400px; */
  /* background-color: #FAFAFA; */
  
}
header {
  width: 1440px;
  /* display: flex; */
  /* flex-direction: row; */
  background-color: #fff;
}

main {
  /* max-width: 640px; */
}

.header__container {
  width: 640px;
  height: 63px;
  display: flex;
  
  justify-content:space-between;
  margin: 0 400px;
  padding: 21px 0 16px 0;
  border:  1px solid red;
  
}

.main__container {
  width: 640px;
  
  /* flex-direction: row; */
  /* justify-content:space-around; */
  /* margin: 15px 400px; */
  padding: 30px 24px;
  border:  1px solid red;
}

.logo {
 
}

.icon_nav {
  padding: 0 15px;
}

.icon_nav:first-child {
  padding-left: 0;
}

.icon_nav:last-child {
  padding-right: 0;
}

.stories {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  /* justify-content: space-between; */
 /* padding: 15px; */
}

.stori__text {
  text-align: center;
}